/* defaults */

@font-face {
    font-family: 'A Iranian Sans';
    src: url('../fonts/iransans/AIranianSans.eot');
    src: url('../fonts/iransans/AIranianSans.eot?#iefix') format('embedded-opentype'),
        url('../fonts/iransans/AIranianSans.woff2') format('woff2'),
        url('../fonts/iransans/AIranianSans.woff') format('woff'),
        url('../fonts/iransans/AIranianSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --main-red: #FF4A52;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

header {
    margin: 0 auto;
    width: 85%;
    display: flex;
    align-items: center;
}

.logo {
    width: auto;
    height: 100%;

}

nav ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

nav ul li a{
    color: #000;
    transition: all 0.3s ease;
    font-size: 1.3rem;
}

nav ul li a:hover {
    color: var(--main-red);
}

nav {
    width: 50%;
    margin: 0 auto;
}

.search {
    background-color: var(--main-red);
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}