/* defaults */

@font-face {
    font-family: 'A Iranian Sans';
    src: url('../fonts/iransans/AIranianSans.eot');
    src: url('../fonts/iransans/AIranianSans.eot?#iefix') format('embedded-opentype'),
        url('../fonts/iransans/AIranianSans.woff2') format('woff2'),
        url('../fonts/iransans/AIranianSans.woff') format('woff'),
        url('../fonts/iransans/AIranianSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --main-red: #FF4A52;
    --main-green: #1EC6B6;
    --main-dark-blue: #040E27;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* header */
header {
    margin: 0 auto;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: auto;
    height: 100%;

}

nav {
    width: 60%;
    min-width: 50%;
    margin: 0 auto;
}

nav ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

nav ul li a {
    color: #000;
    transition: all 0.3s ease;
    font-size: 1.3rem;
}

nav ul li a:hover {
    color: var(--main-red);
}


.button {
    background-color: var(--main-red);
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.button i {
    color: #fff;
}

.search:hover {
    color: #fff;
}

/* menu */

.menu {
    width: 45%;
    height: 100vh;
    background-color: var(--main-dark-blue);
    position: fixed;
    top: 0;
    right: -100%;
    transition: all 0.3s ease;
    transition-delay: 0.3s;
    z-index: 999;
}

.menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu ul li {
    margin: 10px 0;
    color: #fff;
    font-size: 1.5rem;
}

.menu ul li a {
    color: #fff;
}











.menu.show {
    right: 0;
}

.menu-opener {
    background-color: var(--main-green) !important;
}

.menu-opener i {
    transition: all 0.3s ease;
}

.menu-opener.active i {
    rotate: 90deg;
}

.menu-closer i {
    transition: all 0.3s ease;
    color: #fff;
    margin: 20px;
}

.menu-closer.close i {
    rotate: 90deg;
}


/* hero section */
.hero {
    width: 100%;
    height: 100vh;
    background-image: url('../images/banner2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.hero-title {
    font-size: calc(1.7rem + 7vw);
    font-family: "Nothing You Could Do", cursive;
    font-weight: 400;
    color: white;
    text-align: center;
    padding-top: 10vh;
}

.hero-sub {
    text-align: center;
    margin-top: 20vh;
    font-size: calc(0.5rem + 3vw);
    font-weight: 400;
    color: white;
}

.red-btn {
    background-color: var(--main-red);
    color: white;
    font-family: "Rubik", sans-serif;
    border-radius: 5px;
    transition: all 0.3s ease;
    border: none;
    outline: none;
}

.red-btn:hover {
    background-color: var(--main-green);
    color: #fff;
}

.green-btn {
    background-color: var(--main-green);
    color: white;
    font-family: "Rubik", sans-serif;
    border-radius: 5px;
    transition: all 0.3s ease;
    border: none;
    outline: none;
}

.green-btn:hover {
    background-color: var(--main-red);
    color: #fff;
}

.hero button {
    padding: 10px 20px;
    margin: 100px auto;
    font-size: 1.2rem;
    font-weight: 400;
    display: block;
}

/* where to go */

.where {
    background-color: var(--main-dark-blue);
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.where .col-md-4 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.where h2 {
    color: white;
    font-weight: 400;
    font-size: 20px;
}

.where input {
    width: 100%;
    background-color: transparent;
    border: 1px solid #363E52;
    border-radius: 5px;
    margin: 10px 10px;
    padding: 17px 50px;
    color: white;
    outline: 0;
}

.where button {
    font-size: 16px;
    padding: 17px 39px;
}

/* destinations */
.destinations {
    text-align: center;

}

.destinations h2 {
    font-size: 38px;
    font-weight: 400;
    color: var(--main-dark-blue);
    margin: 10px;
    margin-top: 80px;
}

.destinations p {
    font-size: 16px;
    color: #7A838B;
    line-height: 30px;
    font-weight: 400;
    margin-top: 20px;
}

.country {
    position: relative;
}

.country img {
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #040e2700 0%, #040e27b3 100%);
    display: flex;
    align-items: flex-end;
    border-radius: 5px;
}

.desc {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-bottom: 20px;
    align-items: baseline;
    width: max-content;
}

.desc span {
    font-size: 22px;
    color: #fff;
    font-weight: 400;
    transition: all 0.3s ease;
    margin-right: 10px;
}

.places {
    background-color: var(--main-green);
    font-size: 12px;
    border-radius: 30px;
    font-weight: 400;
    padding: 7px 12px;
    color: #fff;
    margin-left: 10px;
    transition: all 0.3s ease;
    white-space: normal;
}

.places:hover {
    color: #fff;
}

.overlay:hover .desc span {
    color: var(--main-red);
}

.overlay:hover .places {
    background-color: var(--main-red);
}

.countries {
    padding: 50px 0;
}

.item {
    transition: transform .3s;
}

.item:hover {
    transform: translateY(-10px);
}

/* subscribe */
.subscribe {
    background: linear-gradient(to bottom, #040e27b3 0%, #040e27b3 100%), url('../images/newsletter.png');
    background-position: 65% 65%;
    background-size: cover;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 130px 0;
}


.subscribe .row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.subscribe .row h2 {
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 10px;
}

.subscribe .row p {
    font-size: 12px;
    font-weight: 400;
    color: #AAB1B7;
}

.subscribe .row input {
    width: 100%;
    border: none;
    border-radius: 5px;
    margin: 10px 10px;
    padding: 15px 50px;
    color: #000;
    outline: 0;
}

.sub-input {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-input .col-4 {
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.sub-input button {
    font-size: 16px;
    padding: 15px 20px;
    border-radius: 5px;
    border: none;
    outline: 0;
    background-color: var(--main-red);
    color: #fff;
    transition: all 0.3s ease;
}

.sub-input button:hover {
    background-color: var(--main-green);
}

/* video section */

.video {
    background: linear-gradient(to bottom, #040e274a 0%, #040e274a 100%), url('../images/video.png');
    width: 100%;
    height: 600px;
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center center;
}

.video p {
    font-family: "Nothing You Could Do", cursive;
    font-weight: 400;
    color: #fff;
    margin-bottom: 30px;
    padding-top: 0px;
    font-size: calc(1.7rem + 7vw);
}

.video i {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    cursor: pointer;
}

/* footer */
footer {
    background-color: var(--main-dark-blue);
    width: 100%;
    height: auto;
    padding: 50px 0;
}

footer img {
    width: 200px;
    height: auto;
    margin-bottom: 30px;
}

footer span {
    color: #AAB1B7;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    width: 100%;
    margin: 0 auto;
}

.row .col-lg-6:nth-child(1) {
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
}

footer p {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    font-family: "Rubik", sans-serif;
}

.links {
    display: flex;
    font-weight: 400;
    font-family: "Rubik", sans-serif;
}

.links a {
    color: #AAB1B7;
}

.footer-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.footer-row>.col-6 {
    display: flex;
    justify-content: center;
}

.overlay2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000096;
    z-index: 998;
    opacity: 0;
    display: none;
}
.overlay2.active{
    opacity: 1;
    display: block;
}

/* media queries */
@media (max-width:992px) {
    .sub-input {
        flex-direction: column !important;
    }

    .sub-input .col-4,
    .sub-input .col-8 {
        margin-left: 0px !important;
        width: 100%;
    }

    .sub-input button {
        width: 100%;
    }

    .sub-input input {
        width: 100%;
    }

    .subscribe .row input {
        margin: 10px 0;
    }

    .footer-row {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .folan {
        margin-top: 50px;
    }

    .footer-wrapper {
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    nav {
        display: none;
    }
}



@media (min-width:768px) and (max-width:992px) {

    .sub-input .col-4,
    .sub-input .col-8 {
        margin-left: 0px !important;
        width: 50%;
    }

    .subscribe .row input {
        margin: 10px 0;
        width: 100%;
    }

    .subscribe .row input {
        width: 100%;
    }
}

@media (max-width:768px) {
    .button {
        width: 50px;
    }

}

@media (min-width:993px) {
    .menu-opener {
        display: none;
    }

    .menu {
        display: none;
    }
}

@media (min-width:890px) and (max-width:992px) {
    .menu {
        width: 30%;
    }
}